#myButton {
    -fx-background-image: url("backarrow.png");
    -fx-background-size: 35 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    -fx-background-color: #0963AB;
}

#CreateNewAccountLabel:hover{
    -fx-text-fill: deepskyblue;
}

/*#CreateNewAccountLabel{*/
/*    -fx-text-fill: blue;*/
/*}*/

#CreateNewAccountLabel{
    -fx-text-fill: blue;
}

#createNewAccount{
    -fx-background-color: white;
    -fx-text-fill: skyblue;
    -fx-border-color: none;
}

.tool-bar{
    -fx-background-color:  #0963AB;
}

#signupToolbar{

    -fx-border-color: pink;
    -fx-padding: 10 10;


    border: 2px solid orange;
    padding: 10px 40px;
    background: black;
    width: 300px;
    border-radius: 10px;
}
#adminLabel{
    -fx-background-color: #0963AB;
}

#labelDash{
    -fx-background-color: #006666;
    -fx-border-color: black;
    -fx-text-fill: white;
}
#labelDash:hover{
    -fx-background-color: black;
}
#labelDash:focused{
    -fx-background-color: white;
}

#rightBar{
    -fx-background-color: #0033cc;
}

#vBox{
    -fx-border-color: #ff6699;
}